 <!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        IOM
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2023 Ricolino S.A.P.I. de C.V </strong> All rights reserved.
</footer>