@{ Layout = null;
   ViewData["Title"] = "ULlenadoIndicadoresProdRSLP";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/WebApplication2/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/WebApplication2/dist/css/adminlte.min.css">
</head>
<body class="sidebar-mini layout-fixed sidebar-open" style="height: auto;">
    <partial name="_SidebarLi" />
    <partial name="_Navbar" />
    <partial name="LlenadoIndicProdRSLP" />
    <partial name="_Footer" />
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/WebApplication2/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/WebApplication2/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/WebApplication2/dist/js/adminlte.min.js"></script>

</body>
</html>
